<%= bootstrap_flash %>

<% unless @user.has_at_least_one_bio_attribute_present? %>
  <div class="alert alert-warning" role="alert">
    <div class="container">
      <div class="alert-icon">
        <i class="now-ui-icons users_single-02"></i>
      </div>
      Your bio awaits, add your information on the <%= link_to 'info tab', settings_path(tab: "settings_info") %> and <%= link_to 'social tab', settings_path(tab: "settings_social") %> so your family can see it on the <%= link_to 'Bios', family_bios_path %> page.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
          <i class="now-ui-icons ui-1_simple-remove"></i>
        </span>
      </button>
    </div>
  </div>
<% end %>

<% if @photo_album %>
  <div id="main-site-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @photo_album.images.each_with_index do |image, idx| %>
        <div class="carousel-item <%= 'active' if idx == 0 %>">
          <%= image_tag(image, class: "d-block w-100") %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#main-site-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#main-site-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% else %>
  <p>If you're the Administrator for the site, please upload photos to carousel <%= link_to 'here', admin_photo_album_path %></p>
<% end %>

<%= render_upload_photo_modal(@user) %>
