<div class="row my-5">
  <div class="col-lg-12">
    <%= bootstrap_flash %>
    <h5 class="section-title h1">MESSAGE FORUM</h5>

    <div class="container-fluid mt-100">
      <div class="d-flex flex-wrap justify-content-between">
        <div>
          <%= link_to "New Message", new_message_path, class: "btn btn-shadow btn-wide btn-primary" %>
        </div>
        <div class="col-12 col-md-3 p-0 mb-3">
          <%= search_form_for @q do |f| %>
            <%= f.search_field :subject_or_body_cont, class: "form-control", placeholder: "Search..." %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="float-right"><%= paginate @messages %></div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header pl-0 pr-0">
          <div class="row no-gutters w-100 align-items-center">
            <div class="col ml-3">Topics</div>
            <div class="col-4 text-muted">
              <div class="row no-gutters align-items-center">
                <div class="col-4">Replies</div>
                  <div class="col-8">Posted by</div>
              </div>
            </div>
          </div>
        </div>

        <% @messages.each do |message| %>
          <div class="card-body py-3">
            <div class="row no-gutters align-items-center">
              <div class="col">
                <%= link_to message.subject, message_path(message), class: "text-big" %>
                <div class="text-muted small mt-1"><%= time_ago_in_words(message.created_at) %> ago</div>
              </div>
              <div class="d-none d-md-block col-4">
                <div class="row no-gutters align-items-center">
                  <div class="col-4"><%= message.comments.count %></div>
                  <div class="media col-8 align-items-center">
                    <%= rounded_avatar(message.user, 50, 50) %>
                    <div class="media-body flex-truncate ml-2">
                      <a href="javascript:void(0)" class="text-muted small text-truncate" data-abc="true"><%= message.user.full_name %></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="m-0">
        <% end %>
      </div>

      <div class="row">
        <div class="col">
          <div class="float-right"><%= paginate @messages %></div>
        </div>
      </div>
    </div>
  </div>
</div>
