<div class="row justify-content-center my-5">
  <div class="col-lg-10">
    <%= bootstrap_flash %>
    <h5 class="section-title h1">RECIPES</h5>

    <%= link_to "Add New Recipe", new_recipe_path, class: "btn btn-primary float-right" %>

    <table class="table table-sm table-hover mt-5 datatable">
      <thead>
        <tr>
          <th scope="col">Recipe</th>
          <th scope="col">Submitted By</th>
          <th scope="col">Category</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @recipes.each do |recipe| %>
          <tr>
            <td><%= recipe.name %></td>
            <td><%= recipe.user.full_name %></td>
            <td><span class="badge badge-info"><%= recipe.category %></span></td>
            <td colspan="3">
              <%= link_to "View", recipe_path(recipe), class: "btn btn-dark" %>
              <% if can? :update, recipe %>
                <%= link_to "Edit", edit_recipe_path(recipe), class: "btn btn-warning" %>
              <% end %>
              <% if can? :destroy, recipe %>
                <%= link_to "Delete", recipe_path(recipe), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
