<div class="container light-style flex-grow-1 container-p-y my-5">
  <%= bootstrap_flash %>

    <h4 class="font-weight-bold py-3 mb-4">
      Account settings
    </h4>

    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <%= link_to "General", settings_path(tab: "settings_general"), class: "list-group-item list-group-item-action #{active_if_current_tab('settings_general', @tab)}" %>
            <%= link_to "Change password", settings_path(tab: "settings_change_password"), class: "list-group-item list-group-item-action #{active_if_current_tab('settings_change_password', @tab)}" %>
            <%= link_to "Info", settings_path(tab: "settings_info"), class: "list-group-item list-group-item-action #{active_if_current_tab('settings_info', @tab)}" %>
            <%= link_to "Social links", settings_path(tab: "settings_social"), class: "list-group-item list-group-item-action #{active_if_current_tab('settings_social', @tab)}" %>
            <%= link_to "Notifications", settings_path(tab: "settings_notifications"), class: "list-group-item list-group-item-action #{active_if_current_tab('settings_notifications', @tab)}" %>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <%= render tab %>
          </div>
        </div>
      </div>
    </div>  
</div>
