<!DOCTYPE html>
<html>
	<head>
		<title>HoangFamilySite</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_pack_tag 'application' %>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js" type="text/javascript"></script>
	</head>

	<body class="<%= controller.controller_name %>"
        data-controller="<%= controller.controller_path %>"
        data-action="<%= controller.action_name %>">
		<%= render partial: 'layouts/nav' %>
		<div class="container-fluid">
			<%= yield %>
		</div>
	</body>
</html>
